@import "tailwindcss";

@theme {
  --color-primary: #705c28;
  --color-primary-container: #b49b61;
  --color-on-primary: #ffffff;
  --color-primary-fixed: #fcdf9f;
  --color-primary-fixed-dim: #dfc486;
  
  --color-secondary: #6c5b4d;
  --color-secondary-container: #f5decc;
  --color-on-secondary: #ffffff;
  
  --color-surface: #fcf8ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f2fb;
  --color-surface-container: #f1ecf5;
  --color-surface-container-high: #ebe6ef;
  --color-on-surface: #1c1b21;
  --color-on-surface-variant: #4c463a;
  --color-inverse-surface: #313036;
  --color-inverse-on-surface: #f4eff8;
  
  --color-outline: #7e7668;
  --color-outline-variant: #cfc5b5;

  --spacing-space-2xs: 0.25rem;
  --spacing-space-xs: 0.5rem;
  --spacing-space-sm: 0.75rem;
  --spacing-space-md: 1rem;
  --spacing-space-lg: 1.5rem;
  --spacing-space-xl: 2rem;
  --spacing-space-2xl: 3rem;
  --spacing-space-3xl: 4.5rem;
  --spacing-gutter-sm: 1rem;
  --spacing-gutter-md: 1.5rem;
  --spacing-gutter-lg: 2rem;
  --spacing-margin-mobile: 1rem;
  --spacing-margin-desktop: 3rem;
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
